<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:white;">Sankalp Portal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink=" " style="color:white;">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/allTasks" style="color:white;">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/newPatientCreation" style="color:white;">New Patient Enrollment</a></li>
            <li routerLinkActive="active"><a routerLink="/editor" style="color:white;">editor</a></li>
            <li routerLinkActive="active"><a routerLink="/visitlist" style="color:white">Visit List</a></li>
            <li routerLinkActive="active"><a routerLink="/visitdetails" style="color:white">Visit Details</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
