<div class="row">
    <div class="col-md-12">
        <h1 style="color:#2B6598">New Patient Enrollment</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="newPatientEnrollment">
            <tabs>
                <tab [tabTitle]="'Personal Info'">

                    <div class="col-md-4" data-info="firstArea">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputSuccess2">First Name</label>
                            <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>

                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputGroupSuccess1">Eamil ID</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user" style="position:initial"></span>
                                <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="inputGroupSuccess1">Gender</label>
                            <div class="radio">
                                <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Male
                                </label>

                                <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Female
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox"> Current address and Permanent address is same?
                            </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4" data-info="second area">

                        <div class="form-group has-warning has-feedback">
                            <label class="control-label" for="inputWarning2">Middle Name</label>
                            <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>

                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputGroupSuccess1">Contact Number</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-phone" style="position:initial"></span>
                                <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputGroupSuccess1">Marital Status</label>
                            <div class="radio">
                                <label>
                                <input type="radio" name="maritalStatus" id="optionsRadios1" value="option1" checked>
                                    Married
                                </label>

                                <label>
                                <input type="radio" name="maritalStatus" id="optionsRadios1" value="option1" checked>
                                    Unmarried
                                </label>
                            </div>
                        </div>

                        <div class="form-group has-warning has-feedback">
                            <label class="control-label" for="inputWarning2">Current Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>
                    </div>

                    <div class="col-md-4" data-info="third area">

                        <div class="form-group has-error has-feedback">
                            <label class="control-label" for="inputError2">Last Name</label>
                            <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>

                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputGroupSuccess1">Alternate Contact</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-phone" style="position:initial"></span>
                                <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>

                        <div class="form-group">
                            <label for="disabledSelect">Occupation</label>
                            <select id="disabledSelect" class="form-control">
                                <option>Student</option>
                                <option>Government Servent</option>
                                <option>Private Job</option>
                            </select>
                        </div>


                        <div class="form-group has-warning has-feedback">
                            <label class="control-label" for="inputWarning2">Permanent Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>
                    </div>


                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default">Reset</button>

                </tab>
                <tab [tabTitle]="'Medical Background'">Tab 2 Content

                </tab>

                <tab [tabTitle]="'Case Study'">
                    <div class="row">

                        <div class="col-md-12" *ngIf="!isShowEditor">
                            <div [innerHtml]="previewContent"></div>
                        </div>


                        <div class="col-md-12" *ngIf="isShowEditor">
                            <ckeditor [(ngModel)]="ckeditorContent" debounce="500" [ngModelOptions]="{standalone: true}">
                            </ckeditor>
                        </div>
                        
                    </div>
                </tab>

            </tabs>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-primary" (click)="preview()" value="Preview"/>

         <input type="button" class="btn btn-primary" (click)="showEditorCk()" value="Edit"/>{{hideEditor}}
    </div>
</div>