<div class="row">
    <div class="col-md-12">
    <h1 style="color:#2B6598">Login</h1>
    </div>
</div>
 
 <div>
 <form class="form-horizontal" name="test" id="test">
  <div class="form-group">
    <label for="userEmail" class="col-sm-offset-2 col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" name="userEmail"  placeholder="Email" formConrolName="userEmail" [(ngModel)]="loginForm.userEmail">
    </div>
  </div>
  <div class="form-group">
    <label for="userPassword" class="col-sm-offset-2 col-sm-2 control-label">Password</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" name="userPassword" placeholder="Password" formControlName="userEmail">
    </div>
  </div>
   
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-10">
      <button type="button" class="btn btn-primary" (click)="onLogin($event)">Log in</button>
          </div>
  </div>
</form>
 
<div>