<div class="row">
  <div class="col-md-12">
    <h1 class="pageHeaderStyle">Login</h1>
  </div>
</div>

<div>
  <form class="form-horizontal" [formGroup]="loginForm" novalidate>
    <div class="form-group" [ngClass]="{
      'has-sucess':userEmailValidation.valid && (userEmailValidation.dirty || userEmailValidation.touched), 
      'has-error': userEmailValidation.invalid && (userEmailValidation.dirty || userEmailValidation.touched) 
    }">
      <label for="userEmail" class="col-sm-offset-2 col-sm-2 control-label">Email</label>
      <div class="col-sm-3">

        <input type="email" class="form-control" name="userEmail" placeholder="Email" formControlName="userEmailValidation" (focus)="onEmailFocus($event)">

        <div *ngIf="userEmailValidation.errors && (userEmailValidation.dirty || userEmailValidation.touched)">
          <p class="text-danger" *ngIf="userEmailValidation.errors.required">Email field is required for Log In !</p>
          <p class="text-danger" *ngIf="userEmailValidation.errors.email">Enter valid email address!</p>
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="userPassword" class="col-sm-offset-2 col-sm-2 control-label">Password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" name="userPassword" placeholder="Password" formControlName="userPasswordValidation"
          (focus)="onPasswordFocus($event)">
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-3">
        <p class="text-danger" [hidden]="notValidUser">email id or password is invalid!</p>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-10">
        <button type="button" class="btn btn-primary" (click)="onLogin($event)">Log in</button>
      </div>
    </div>
  </form>
</div>