<style>
    hr {
        border: 1px solid lightgray;
    }
    a{
        margin-left:1%;
    }
</style>

<div class="row">
    <div class="col-md-5">
        <label>Patient Name: </label>
        <span style="margin-left:2%;">Amit Chandrakant Debadwar </span>
    </div>



    <div class="col-md-7">
        <div class="pull-right">
            <b>Date</b> 12 Aug, 2016
             
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <b>Weight:</b> <span>70 kg
           </span>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <hr>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <a href="" class="pull-right">View Another History</a>
       <a href="" class="pull-right">View First Case Study</a>
       <a href="" class="pull-right">Add Visit</a>

     </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
     </div>
</div>

<div class="row">
    <div class="col-md-1">
        <span style="font-size:47px;">&#8478;</span>
    </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        Medicine Name
                    </th>
                    <th class="text-center">
                        Morning
                    </th>
                    <th class="text-center">Afternoon</th>
                    <th class="text-center">Night</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">
                        T. Daxid (25)
                    </td>
                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-remove text-center" aria-hidden="true"></span>
                    </td>


                </tr>

                <tr>
                    <td class="text-left">
                        T. Olaset (2.5)
                    </td>
                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>


                </tr>


                <tr>
                    <td class="text-left">
                        T. Zapiz (2)
                    </td>
                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>


                </tr>

                <tr>
                    <td class="text-left">
                        T. Inderal - LA (40)
                    </td>
                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-remove text-center" aria-hidden="true"></span>
                    </td>


                </tr>


                <tr>
                    <td class="text-left">
                        T. Zolcalm (5)
                    </td>
                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>


                </tr>

                <tr>
                    <td class="text-left">
                        T. Armod (150)
                    </td>
                    <td class="text-center">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <b> (&#189;)</b>

                    </td>

                    <td class="text-center">

                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                    <td class="text-center">
                        <span class="glyphicon glyphicon-remove text-center" aria-hidden="true"></span>
                    </td>


                </tr>


            </tbody>
        </table>
    </div>
    <div class="col-md-offset-1 col-md-3">
         <div class="row" style="height:250px; border:1px solid darkgray;">
            <div class="col-md-12" style="height:10%;margin:1%;">
                   Thumb Impression
                  
            </div>

             <div class="col-md-12" style="border-top:1px solid lightgray; height:80%; padding:1%;">
                    <img src="app/assets/thumbImpression.jpg" style="width:40%; height: 50%; border:1px solid gray;"/> 
                    <img src="app/assets/patientPhoto.jpg" width="96" height="90" style="margin-left:1%; border:1px solid gray;"/>
             </div>

         </div>
    </div>
</div>


<div class="row" style="margin:7% 0 4% 0;">
    <div class="col-md-4">
        <b>Next Appointment:</b>
        <span>18 Aug, 2017</span>
    </div>


    <div class="col-md-4">
        <b>For 30 days</b>
    </div>

    <div class="col-md-4">
        <b class="pull-right">Doctor's Sign</b>
    </div>

</div>

<div class="row" style="margin:1 0 4% 0;">
    <div class="col-md-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-sm btn-primary pull-right" value="Print" />
    </div>

</div>

<div class="row" style="margin:1 0 4% 0;">
    <div class="col-md-12">
        <hr/>
    </div>
</div>


<div class="row" style="margin:2% 0 2% 0;">
    <div class="col-md-12">
        <h2>Communication with Patient</h2>
    </div>
</div>


<div class="row" style="margin:2% 0 2% 0;">
    <div class="col-md-12">
        <p>This is one of the simpler, no-frills text generators based only on Lorem Ipsum. You basically are only able to adjust
            the amount of paragraphs or words. You can also create bulleted lists or generate your text based on how many
            bytes it should be. A nice addition here, is that it offers you some background information on the use and history
            of ‘Lorem Ipsum.’ This is one of the simpler, no-frills text generators based only on Lorem Ipsum. You basically
            are only able to adjust the amount of paragraphs or words. You can also create bulleted lists or generate your
            text based on how many bytes it should be. A nice addition here, is that it offers you some background information
            on the use and history of ‘Lorem Ipsum.’</p>
        <p>He has been found with following symtoms: Symtom 1, Sympltom 2, Symtom 3</p>
        <p>This is one of the simpler, no-frills text generators based only on Lorem Ipsum. You basically are only able to adjust
            the amount of paragraphs or words. You can also create bulleted lists or generate your text based on how many
            bytes it should be. A nice addition here, is that it offers you some background information on the use and history
            of ‘Lorem Ipsum.’ This is one of the simpler, no-frills text generators based only on Lorem Ipsum. You basically
            are only able to adjust the amount of paragraphs or words. You can also create bulleted lists or generate your
            text based on how many bytes it should be. A nice addition here, is that it offers you some background information
            on the use and history of ‘Lorem Ipsum.’</p>
    </div>
</div>


<div class="row" style="margin:1 0 4% 0;">
    <div class="col-md-12">
        <hr/>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-sm btn-primary pull-right" value="Print" />
    </div>

</div>

<div class="row" style="margin:1 0 4% 0;">
    <div class="col-md-12">
        <hr/>
    </div>
</div>