<div class="row">
    <div class="col-md-12">

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 style="color:gray;">Amit Debadwar</h2>
    </div>
 <div class="col-md-9">
        <span class="pull-right"><b>Date:</b> 21 July, 2017</span>
    </div>
</div>
 


<div class="row">
    <div class="col-md-12">
        <hr style="border:1px solid lightgray;" />
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Medicine</th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Night</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let med of medicines;let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <select [(ngModel)]="this.selectedMedicine">
                         <option *ngFor="let am of medicineList" [value]="am">{{am}}</option>
                        </select>
                    </td>
                    <td><input type="checkbox" /> <select [(ngModel)]="selectedDoseMorning"><option *ngFor="let sdm of doseQuantities" [value]="sdm">{{sdm}}</option></select>                        </td>
                    <td><input type="checkbox" /> <select [(ngModel)]="selectedDoseNoon"><option *ngFor="let sdn of doseQuantities" [value]="sdn">{{sdn}}</option></select></td>
                    <td><input type="checkbox" /> <select [(ngModel)]="selectedDoseNight"><option *ngFor="let sdnt of doseQuantities" [value]="sdnt">{{sdnt}}</option></select></td>
                    <td><input type="text" class="form-control"/></td>
                </tr>
            </tbody>
        </table>
        <input type="button" class="btn btn-sm btn-primary pull-right" value="+ Add Medicine" (click)="addMedicine()" />
    </div>
</div>







<div class="row">
    <div class="col-md-12">
        <hr style="border:1px solid lightgray;" />
    </div>
</div>